name: Build and Release Zip

on:
  push:
    branches:
      - 'master'  # Trigger workflow on push to the 'master' branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v2

      # Make scripts executable
      - name: Make scripts executable
        run: |
          chmod +x ./create_kindle_alpine_image.sh
          chmod +x ./create_release.sh

      # Run your bash script
      - name: Run bash script
        run: ./create_release.sh
    
      # Create a new tag based on the current timestamp
      - name: Create a new tag
        run: |
          TAG_NAME="v$(date +'%Y.%m.%d.%H%M%S')"  # Create a version based on date-time
          git tag $TAG_NAME
          git push origin $TAG_NAME

      # Set the tag as an output for later use
      - name: Set output
        run: echo "::set-output name=tag_name::$TAG_NAME"

  
